# Игнорирование папки "node_modules"
/node_modules/

# Игнорирование временных файлов
*.log
*.swp
*.tmp

# Игнорирование файлов конфигурации
config.js
.env

# Игнорирование папки сборки (например, "dist" или "build")
dist/
build/


